h1, p {
    text-align: center;
}

body {
    background-image: url(bg.png);
    background-color: rgba(4, 52, 116, 0.8);
    background-blend-mode: multiply;
}

div {
    background-color: green;
}

.container {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 4px;
    background: rgb(38, 38, 230);
}

.row {
    margin: 15px;
    border-radius: 10px;
    background-color: rgb(13, 100, 214);
}

.row > h1, .row > h2, .row > div > h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

div {
    align-items: center;
}

.row > div {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(76, 175, 255);
}

@media print {
    body {
        width: 42cm;
        height: 59.4cm;
        padding: 0;
        margin: 0;
    }
}